---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="min-h-screen flex items-center justify-center">
		<h1 class="text-4xl font-bold text-blue-600">Status Page</h1>
	</main>
</Layout>
