---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="min-h-screen flex flex-col items-center justify-center gap-6">
		<h1 class="text-4xl font-bold text-foreground">Status Page</h1>
		<Button client:load>Get Started</Button>
	</main>
</Layout>
